.wp-block-calendar{
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    

    list-style: none;

    tbody{
        color: white;
    }

    h4{
        font-size: 30px;
    }

    caption{
        color: white;
    }
    

    td{
        font-size: initial;
        color: $secondary-color;
        font-size: 1.2rem;
        font-weight: bold;
    }
   
    @include widget-header($calendar:true);
    

    caption{
        text-align: center;
    }
}

.wp-block-calendar table caption, .wp-block-calendar table tbody{
    color: white;
}

#wp-calendar {
    width: 100%;
    background-color: $primary-color;
    color: white;
    
  }


  .wp-block-calendar table th{
      background-color: purple;

  }