$primary-color: #9559a0;
$secondary-color:#EEDFEE;
$button-color:#AA7BAB;
$button-color-light:#AA7BAB;
$button-color-dark:purple;
$white:#fff;

$accent-color:purple;

$section-padding:3rem;
$section-height: 40vh;



$widget-color:#212529;
$widget-text:#ffff;


$small:450px;
$medium:767px;
$large:1200px