@import './modules/variables.scss',
'./modules/mixins.scss','./modules/blog-page',
'./modules/blog-cards','./modules/calendar',
'./modules/widgets','./modules/utilities';


html{
    margin-top: 0;
}

*{
    padding: 0;
    margin: 0;
}



p{
  font-size: 1.2rem;
  
}

h5{
  font-size: 1.5rem;
}



.comment-form-comment{
  display: flex;
  flex-direction: column;
}

.submit{
  @include faith-button($light:true,$dark:false);
}


.wp-block-image:not(.is-style-rounded) img{
  max-height: 450px;
}


.secondary-header{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


// Adds dots behind text that will overflow
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.card-footer{
  z-index: 30;
}


.main-headline{
    background-color: $primary-color;

    h1{
      padding: 1rem;
      margin-bottom: 0;
    }
}


.hero-btn-box{
  display: flex;
  justify-content: space-around;
  height: 50vh;
  flex-direction: row;
  align-items: center;


  button{
    @include faith_button($light:true,$dark:false);
  }
}

.main-hero{
background-position: center;
background-repeat: no-repeat;
background-size:cover;
min-height: 50vh;
padding-bottom: 3rem;
padding:1rem;
}


.text-box{
    padding: 3rem;
}


.section_cta{
  img{
    width: 35%;
  }
}

.section_cta-normal{
  @include section_cta($odd:false,$even:false,$normal:true)
}

.section_cta-odd{
    @include section_cta($odd:true,$even:false,$normal:false)
}

.section_cta-even{
    @include section_cta($odd:false,$even:true,$normal:false);
   
}

.card-img{
    height: 300px;
}

.card-img-overlay{
  z-index: 5;
  .card-title{
    color: grey;
  }

}


.blog-section{
   @include section_cta($odd:true,$even:false,$normal:false);
    padding: $section-padding;
    text-align: center;
    min-height: $section-height;
    background-image: url('../images/blog-section-background.jpg');
}


footer{
  background-color:$primary-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
  
  li{
    color: $secondary-color;
  }
}




.carousel-item{
  img{
    height: 70vh;
  }

}


.archive-img{
  width: 100%;
  height: 100%;
}


.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
  padding-top: 0;
}

.tribe-events .tribe-events-l-container {
  padding-top: 0;
}


.video_container iframe{
  height: 90vh;
}


@mixin section_cta_mobile{
  flex-direction: column-reverse;
  height: inherit;
  width: 100%;


  img{
    width: 100%;
  }
       }


       .owl-nav{
         display: flex;
         justify-content: space-between;
         height: 0;

         
         
         span{
          font-size: 7rem;
          padding: .5rem;
          position: relative;
          bottom: 16rem;
          z-index: 3;
          color: white;

          &:hover{
            color: $accent-color;
           }
           &:active{
             color: $secondary-color;
           }
         }
       }


       .tribe-events-event-image{
         img{
           width: 100%;
           height: 90vh;
         }
       }




@media only screen and (max-width: $small) {
  
  p{
    font-size: 1rem;
}

  .hero-btn-box{
    flex-direction: column;
    justify-content: center;

    button{
      margin-bottom: 2rem;
      width: 90%;
    }
  }

  .video_container iframe{
    height: 60vh;
  }

}




.xpress-home-row{
  padding: 4rem;
}

@media only screen and (max-width: 600px) {

  
  .xpress-home-row{
    padding: 1rem;
    padding-top: 2rem;

  }


  .blog-section{
    padding: 1rem;
    padding-top: 3rem;
  }

.main-hero{
  text-align: center;
  
}

  .faith-btn-dark, .faith-btn-light, .btn{
    margin-bottom: 1rem;
    width: 100%;
  }
  

 
  .text-box{
    padding: 1rem
  }

  .card{
    margin-bottom: 3rem;
  }

  .section_cta-odd{
   @include section_cta_mobile;
   justify-content: flex-end;
   flex-flow: wrap-reverse;
  }

  .section_cta-even{
    @include section_cta_mobile;
    justify-content: flex-end;
    flex-flow: wrap-reverse;

  }

  .carousel-item{
    img{
      height: 50vh;
    }

  }
}




@media only screen and (max-width: $medium) {
  

  p{
    font-size: 1.1rem;
  }

  #contact .row{
    flex-direction: column-reverse;
  }

  .btn-box{
    text-align: center;
  }
  .main-hero{
    padding-bottom: 4rem;

    h1{
      text-align: center;
      margin-bottom: 1rem;
    }

  }
  .video_container iframe{
    height: 70vh;
    width: 100%;
  }

}



@media only screen and (min-width: $large) {
  .nav-link{
    font-size: 1.4rem;
  }
  h2{
    font-size: 2.8rem;
  }

  h5{
    font-size: 2.5rem;
  }

p{
  font-size: 2.1rem;
  font-weight: 300;
}
}