@import './modules/variables.scss',
'./modules/mixins.scss';


html{
    margin-top: 0;
}

*{
    padding: 0;
    margin: 0;
}

p{
  font-size: 1.3rem;
}



.main-headline{
    background-color: $primary-color;

    h1{
      padding: 1rem;
      margin-bottom: 0;
    }
}

.main-hero{
    /* background: url('./images/ministry_front.jpg'); */
background-position: center;
background-repeat: no-repeat;
background-size:cover;
height: 50vh;
}


.text-box{
    padding: 3rem;
}


.section_cta{
  img{
    width: 35%;
  }
}


.section_cta-odd{
    @include section_cta($odd:true,$even:false)
}

.section_cta-even{
    @include section_cta($odd:false,$even:true)
}

.card-img{
    height: 300px;
}

.card-img-overlay{
  z-index: 5;
  .card-title{
    color: grey;
  }

}


.blog-section{
   @include section_cta($odd:true,$even:false);
    padding: $section-padding;
    text-align: center;
    min-height: $section-height;
}


footer{
  background-color:$primary-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
}




.carousel-item{
  img{
    height: 70vh;
  }

}

@mixin section_cta_mobile{
  flex-direction: column-reverse;
  height: inherit;
  width: 100%;


  img{
    width: 100%;
  }
       }

@media only screen and (max-width: 600px) {
  p{
    font-size: initial;
  }
  .text-box{
    padding: 1rem
  }

  .card{
    margin-bottom: 3rem;
  }

  .section_cta-odd{
   @include section_cta_mobile;
  }

  .section_cta-even{
    @include section_cta_mobile;

  }

  .carousel-item{
    img{
      height: 50vh;
    }

  }
}